<div class="container">
<mat-card>
  <mat-card-header>
    <mat-card-title> Sign in </mat-card-title>
  </mat-card-header>
  <mat-divider [ngStyle]="{'border-color': 'lightblue'}"></mat-divider>
  <mat-card-content [ngStyle]="{'padding-top': '10px'}">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [formControlName]="'email'"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [formControlName]="'password'"
        >
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signInForm.valid"
        >Submit</button>
        <button mat-raised-button color="warn" (click)="onFormReset()">Reset</button>
        <button mat-raised-button color="primary">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <mat-divider [ngStyle]="{'border-color': 'lightblue'}"></mat-divider>
  <mat-card-footer>No Account? <a class="link-color">Sign Up!</a></mat-card-footer>
</mat-card>

</div>
