<form [formGroup]="priceFG" (submit)="priceSubmit()">
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput
           [formControl]="priceFC"
           placeholder="input price"
           required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Choose seat type</mat-label>
    <mat-select required>
      <mat-option *ngFor="let seat of seatType" [value]="seat.value">
        {{seat.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent">Submit</button>
  <button type="reset" mat-raised-button color="accent">Reset</button>

</form>
